/*.geojson

GeoJsons/*
!GeoJsons/United States/
GeoJsons/United States/*

#Push Vermont and CT to Git
!GeoJsons/United States/*Vermont.geojson
!GeoJsons/United States/*Connecticut.geojson

runs.geojson
